.WindowTitle {
    height: 20px;
    background-color: rgb(163, 186, 231);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    flex-direction: row;
    align-self: auto;
    align-content: auto;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.WindowTitleText {
    flex-direction: row;
    -unity-text-align: middle-left;
    font-size: 10px;
}
